html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --white-text-color: #ffffff;
    --accent-color: #4D5AE5;
    --hover-focus-color: #404BBF;
    --primary-bg-color:#ffffff;
    --primary-bg-hero: #2E2F42;
    --footer-text-color:#F4F4FD;
    --nav-border-line: #E7E9FC;
    --footer-success: #31D0AA;
    --customers-border: #8E8F99;
    --form-border-color: #d3d3d7;
    --transition-duration: color 3s cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
h1, h2, h3, h4, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
a{
    text-decoration: none;
}

/*===========================Body style=================================*/
body{
    background: var(--primary-bg-color);
    color: var(--title-text-color);
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}
.container{
    padding-left: 16px;
    padding-right: 16px;
}


/*===========================Body style=================================*/





@media screen and (min-width:480px){
    .container{
    width: 428px;
    margin-left: auto;
    margin-right: auto;
    }
}
@media screen and (min-width:768px){
    .container{
    width: 766px;
    
    }
}

@media screen and (min-width:1200px){
    .container{
    width: 1158px;
    
    }
}


/*===========================MENU========================================*/
/*Navigation section*/
.logo{
    font-family: 'Raleway', 'Verdana', 'Geneva', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.menu{
    display: none;
}
address{
    display: none;
}
.header-container{
    display: flex;
    align-items: center;
    
}
.page-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo-web{
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.logo-web:hover,
.logo-web:focus{
    color: var(--hover-focus-color);
    
}
    
.logo-studio{
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-studio:hover,
.logo-studio:focus{
    color: var(--hover-focus-color);
    
}
.mobile-menu-open{
    background-color: transparent;
    border: none;
    padding:0;
    line-height: 0;
    margin-left: auto;
    margin-right: 0;
}
.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background-color: var(--primary-bg-color);
    padding-top: 80px;
    padding-left: 40px;
    transform: translateX(100%);
      
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open{
    transform: translateX(0);
}





.mobile-menu-container{
    position: relative;
    
}
.mobile-menu-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    background-color: var(--primary-bg-color);
    border: 1px solid rgba(46, 47, 66, 0.1);
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;


}
.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}
.mobile-menu-item:last-child{
    margin-bottom:284px;
}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-bg-hero);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus{
 
  color: var(--accent-color);

  }

  .mobile-menu-tel{
    
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;  
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--hover-focus-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu-tel{
    margin-bottom: 40px; 
}
.mobile-menu-mail{
    margin-bottom: 40px; 
}

.mail{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mail:focus,
.tel:focus{
    color: var(--hover-focus-color);
    

}
.social-list{
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-bottom: 40px;
}
.social-list-link{
    height: 44px;
    width: 44px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.social-list-icon{
    fill: currentColor;
    
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: var(--hover-focus-color);
  
}

/*=======================MENU FOR TABLETS====================*/




@media screen and (min-width:768px){
    .menu{
        display: flex;
        margin-left:120px;
       
        
    }
    address{
        display: flex;
    }
    .mobile-menu-open{
        display: none;
        visibility: hidden;
    }
    a.menu-link{
    
        text-decoration: none;
        color: var(--primary-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        padding-top: 24px;
        padding-bottom: 24px;
          
           
    }
    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    a.current-link{
        color: var(--accent-color);
        position: relative;
        
       
    }
    
    .current-link::after{
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        left:0;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--accent-color);
        margin-top: 24px;
        margin-bottom: 0;            
      }      
    
    .menu-link:hover
    {
       color: var(--hover-focus-color);
       
    }
    .mail-tablet,
    .tel-tablet{
        font-size: 12px;
        line-height: 1.2;
        font-style: normal;
        letter-spacing: 0.04em;
        color: var(--title-text-color);
    }
    .page-navigation{
        display: flex;
        align-items: center;
       
        
    }
    .header-container{
        display: flex;
        justify-content: space-between;
       
    }
        
    }
@media screen and (min-width:1200px){
    .contacts{
        display: flex;
    }
    .mail,
.tel{    
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;     
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}
.mail{
    margin-right: 40px;
}
.logo{
    margin-right: 76px;
}
.mail:hover,
.tel:hover{
    color: var(--hover-focus-color);
 }
    }
/**=======================HERO==============================*/  

.hero{
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/mobile/hero-mobile.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;

}

.hero-title{
    font-size: 36px;
    line-height: 1.1;   
    letter-spacing: 0.02em;    
    color: var(--white-text-color);
    max-width: 496px;
    text-transform: capitalize;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    
       
}
.hero button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    min-width: 160px;       
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;

    display: inline-block;   
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 34px;
    padding-left: 34px;
     
}

.hero button:hover{
    background-color: var(--hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}








/**=======================HERO==============================*/   

